@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, black, transparent);
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
}

.transitions {
  transition: 1s all ease;
}
